openapi: 3.0.2
info:
  title: Zeplin Authorization Screens API
  description: Access your resources in Zeplin
  version: 1.38.0
  contact:
    name: Zeplin
    url: https://zeplin.io
    email: support@zeplin.io
servers:
- url: https://api.zeplin.dev
security:
- PersonalAccessToken: []
- OAuth2: []
tags:
- name: Screens
paths:
  /v1/projects/{project_id}/screens:
    get:
      tags:
      - Screens
      summary: Get project screens
      description: List all screens of the project
      operationId: GetProjectScreens
      parameters:
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/filter_by_section_id'
      - $ref: '#/components/parameters/sort_screens'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Screen'
              examples:
                Screens:
                  value:
                  - $ref: '#/components/examples/screen/value'
        '404':
          $ref: '#/components/responses/projectNotFound'
        '422':
          $ref: '#/components/responses/projectArchived'
    post:
      tags:
      - Screens
      summary: Create a new screen
      description: Create a new screen in the project
      operationId: CreateScreen
      parameters:
      - $ref: '#/components/parameters/project_id'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ScreenCreateBody'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityReference'
              examples:
                response:
                  $ref: '#/components/examples/entityReference'
        '403':
          $ref: '#/components/responses/cannotCreateAScreen'
        '404':
          $ref: '#/components/responses/projectOrScreenSectionNotFound'
        '422':
          $ref: '#/components/responses/notAProjectMemberOrArchivedOrScreenExists'
  /v1/projects/{project_id}/screens/{screen_id}:
    get:
      tags:
      - Screens
      summary: Get a single screen
      description: Get a single screen by id
      operationId: GetScreen
      parameters:
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/screen_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Screen'
              examples:
                response:
                  $ref: '#/components/examples/screen'
        '404':
          $ref: '#/components/responses/projectOrScreenNotFound'
        '422':
          $ref: '#/components/responses/projectArchived'
    patch:
      tags:
      - Screens
      summary: Update a screen
      description: Update a screen's description
      operationId: UpdateScreen
      parameters:
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/screen_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScreenUpdateBody'
      responses:
        '204':
          $ref: '#/components/responses/noContent'
        '403':
          $ref: '#/components/responses/cannotUpdateScreen'
        '404':
          $ref: '#/components/responses/projectOrScreenNotFound'
        '422':
          $ref: '#/components/responses/notAProjectMemberOrArchivedOrTagIsLocked'
  /v1/projects/{project_id}/screens/{screen_id}/components:
    get:
      tags:
      - Screens
      summary: Get screen components
      description: List all components in the screen
      operationId: GetScreenComponents
      parameters:
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/screen_id'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/include_latest_version'
      - $ref: '#/components/parameters/include_linked_styleguides'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Component'
              examples:
                response:
                  value:
                  - $ref: '#/components/examples/component/value'
        '404':
          $ref: '#/components/responses/projectOrScreenNotFound'
        '422':
          $ref: '#/components/responses/projectArchived'
  /v1/projects/{project_id}/screens/{screen_id}/notes:
    get:
      tags:
      - Screens
      summary: Get screen notes
      description: List all notes in the screen
      operationId: GetScreenNotes
      parameters:
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/screen_id'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScreenNote'
              examples:
                Screen Notes:
                  value:
                  - $ref: '#/components/examples/screenNote/value'
        '404':
          $ref: '#/components/responses/projectOrScreenNotFound'
        '422':
          $ref: '#/components/responses/projectArchived'
    post:
      tags:
      - Screens
      summary: Create a note
      description: Create a note on the screen
      operationId: CreateScreenNote
      parameters:
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/screen_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScreenNoteCreateBody'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityReference'
              examples:
                response:
                  $ref: '#/components/examples/entityReference'
        '404':
          $ref: '#/components/responses/projectOrScreenNotFound'
        '422':
          $ref: '#/components/responses/notAProjectMemberOrArchived'
  /v1/projects/{project_id}/screens/{screen_id}/notes/{note_id}:
    get:
      tags:
      - Screens
      summary: Get a single screen note
      description: Get a screen note by id
      operationId: GetScreenNote
      parameters:
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/screen_id'
      - $ref: '#/components/parameters/screen_note_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreenNote'
              examples:
                response:
                  $ref: '#/components/examples/screenNote'
        '404':
          $ref: '#/components/responses/projectScreenOrNoteNotFound'
        '422':
          $ref: '#/components/responses/projectArchived'
    patch:
      tags:
      - Screens
      summary: Update a note
      description: Update a note on the screen
      operationId: UpdateScreenNote
      parameters:
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/screen_id'
      - $ref: '#/components/parameters/screen_note_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScreenNoteUpdateBody'
      responses:
        '204':
          $ref: '#/components/responses/noContent'
        '404':
          $ref: '#/components/responses/projectScreenOrNoteNotFound'
        '422':
          $ref: '#/components/responses/notAProjectMemberOrArchived'
    delete:
      tags:
      - Screens
      summary: Delete a note
      description: Delete a note on the screen
      operationId: DeleteScreenNote
      parameters:
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/screen_id'
      - $ref: '#/components/parameters/screen_note_id'
      responses:
        '204':
          $ref: '#/components/responses/noContent'
        '404':
          $ref: '#/components/responses/projectScreenOrNoteNotFound'
        '422':
          $ref: '#/components/responses/notNoteCreatorOrProjectArchived'
  /v1/projects/{project_id}/screens/{screen_id}/notes/{note_id}/comments:
    post:
      tags:
      - Screens
      summary: Create a comment
      description: Create comment on the screen note
      operationId: CreateScreenComment
      parameters:
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/screen_id'
      - $ref: '#/components/parameters/screen_note_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentCreateBody'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityReference'
              examples:
                response:
                  $ref: '#/components/examples/entityReference'
        '404':
          $ref: '#/components/responses/projectScreenOrNoteNotFound'
        '422':
          $ref: '#/components/responses/notAProjectMemberOrArchived'
  /v1/projects/{project_id}/screens/{screen_id}/notes/{note_id}/comments/{comment_id}:
    patch:
      tags:
      - Screens
      summary: Update comment
      description: Update comments on the screen note
      operationId: UpdateScreenComment
      parameters:
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/screen_id'
      - $ref: '#/components/parameters/screen_note_id'
      - $ref: '#/components/parameters/screen_comment_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentUpdateBody'
      responses:
        '204':
          $ref: '#/components/responses/noContent'
        '404':
          $ref: '#/components/responses/projectScreenNoteOrCommentNotFound'
        '422':
          $ref: '#/components/responses/unproccessableEntityUpdateComment'
    delete:
      tags:
      - Screens
      summary: Delete comment
      description: Delete a comment on the screen note
      operationId: DeleteScreenComment
      parameters:
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/screen_id'
      - $ref: '#/components/parameters/screen_note_id'
      - $ref: '#/components/parameters/screen_comment_id'
      responses:
        '204':
          $ref: '#/components/responses/noContent'
        '404':
          $ref: '#/components/responses/projectScreenNoteOrCommentNotFound'
        '422':
          $ref: '#/components/responses/notCommentAuthorOrProjectArchived'
  /v1/projects/{project_id}/screens/{screen_id}/annotations:
    get:
      tags:
      - Screens
      summary: Get screen annotations
      description: List all annotations in the screen
      operationId: GetScreenAnnotations
      parameters:
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/screen_id'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScreenAnnotation'
              examples:
                Screen Annotations:
                  value:
                  - $ref: '#/components/examples/screenAnnotation/value'
        '404':
          $ref: '#/components/responses/projectOrScreenNotFound'
        '422':
          $ref: '#/components/responses/projectArchived'
    post:
      tags:
      - Screens
      summary: Create an annotation
      description: Create an annotation on the screen
      operationId: CreateScreenAnnotation
      parameters:
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/screen_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScreenAnnotationCreateBody'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityReference'
              examples:
                response:
                  $ref: '#/components/examples/entityReference'
        '404':
          $ref: '#/components/responses/projectOrScreenNotFound'
        '422':
          $ref: '#/components/responses/notAProjectMemberOrArchived'
  /v1/projects/{project_id}/screens/{screen_id}/annotations/{annotation_id}:
    get:
      tags:
      - Screens
      summary: Get a single screen annotation
      description: Get a screen annotation by id
      operationId: GetScreenAnnotation
      parameters:
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/screen_id'
      - $ref: '#/components/parameters/screen_annotation_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreenAnnotation'
              examples:
                response:
                  $ref: '#/components/examples/screenAnnotation'
        '404':
          $ref: '#/components/responses/projectScreenOrAnnotationNotFound'
        '422':
          $ref: '#/components/responses/projectArchived'
    patch:
      tags:
      - Screens
      summary: Update an annotation
      description: Update an annotation on the screen
      operationId: UpdateScreenAnnotation
      parameters:
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/screen_id'
      - $ref: '#/components/parameters/screen_annotation_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScreenAnnotationUpdateBody'
      responses:
        '204':
          $ref: '#/components/responses/noContent'
        '404':
          $ref: '#/components/responses/projectScreenOrAnnotationNotFound'
        '422':
          $ref: '#/components/responses/notAProjectMemberOrArchived'
    delete:
      tags:
      - Screens
      summary: Delete an annotation
      description: Delete an annotation on the screen
      operationId: DeleteScreenAnnotation
      parameters:
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/screen_id'
      - $ref: '#/components/parameters/screen_annotation_id'
      responses:
        '204':
          $ref: '#/components/responses/noContent'
        '404':
          $ref: '#/components/responses/projectScreenOrAnnotationNotFound'
        '422':
          $ref: '#/components/responses/notAnnotationCreatorOrProjectArchived'
  /v1/projects/{project_id}/annotations/note_types:
    get:
      tags:
      - Screens
      summary: Get screen annotation note types
      description: List all annotation note types in the project
      operationId: GetScreenAnnotationsNoteTypes
      parameters:
      - $ref: '#/components/parameters/project_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScreenAnnotationNoteType'
              examples:
                Screen Annotation Note Types:
                  value:
                  - $ref: '#/components/examples/screenAnnotationNoteType/value'
        '404':
          $ref: '#/components/responses/projectOrScreenNotFound'
        '422':
          $ref: '#/components/responses/projectArchived'
  /v1/projects/{project_id}/screens/{screen_id}/versions:
    get:
      tags:
      - Screens
      summary: Get screen versions
      description: List all versions of the screen in a project
      operationId: GetScreenVersions
      parameters:
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/screen_id'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScreenVersionSummary'
              examples:
                Screen Versions:
                  value:
                  - $ref: '#/components/examples/screenVersionSummary/value'
        '404':
          $ref: '#/components/responses/projectOrScreenNotFound'
        '422':
          $ref: '#/components/responses/projectArchived'
    post:
      tags:
      - Screens
      summary: Create a new screen version
      description: Create a new screen version in the project
      operationId: CreateScreenVersion
      parameters:
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/screen_id'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ScreenVersionCreateBody'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityReference'
              examples:
                response:
                  $ref: '#/components/examples/entityReference'
        '403':
          $ref: '#/components/responses/cannotCreateAScreenVersion'
        '404':
          $ref: '#/components/responses/projectOrScreenNotFound'
        '422':
          $ref: '#/components/responses/notAProjectMemberOrArchived'
  /v1/projects/{project_id}/screens/{screen_id}/versions/{version_id}:
    get:
      tags:
      - Screens
      summary: Get a single screen version
      description: Get details of the screen version
      operationId: GetScreenVersion
      parameters:
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/screen_id'
      - $ref: '#/components/parameters/screen_version_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreenVersion'
              examples:
                response:
                  $ref: '#/components/examples/screenVersion'
        '403':
          $ref: '#/components/responses/cannotGetVersionInProject'
        '404':
          $ref: '#/components/responses/projectScreenOrVersionNotFound'
        '422':
          $ref: '#/components/responses/projectArchived'
  /v1/projects/{project_id}/screens/{screen_id}/versions/latest:
    get:
      tags:
      - Screens
      summary: Get the latest screen version
      description: Get details of the latest version
      operationId: GetLatestScreenVersion
      parameters:
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/screen_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreenVersion'
              examples:
                response:
                  $ref: '#/components/examples/screenVersion'
        '403':
          $ref: '#/components/responses/cannotGetVersionInProject'
        '404':
          $ref: '#/components/responses/projectScreenOrVersionNotFound'
        '422':
          $ref: '#/components/responses/projectArchived'
  /v1/projects/{project_id}/screen_sections:
    get:
      tags:
      - Screens
      summary: Get screen sections
      description: List all screen sections of the project
      operationId: GetScreenSections
      parameters:
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScreenSection'
              examples:
                Screen Sections:
                  value:
                  - $ref: '#/components/examples/screenSection/value'
        '404':
          $ref: '#/components/responses/projectNotFound'
        '422':
          $ref: '#/components/responses/projectArchived'
  /v1/projects/{project_id}/screen_sections/{section_id}:
    get:
      tags:
      - Screens
      summary: Get a single screen section
      description: Get a screen section by id
      operationId: GetScreenSection
      parameters:
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/screen_section_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreenSection'
              examples:
                response:
                  $ref: '#/components/examples/screenSection'
  /v1/projects/{project_id}/screen_variants:
    get:
      tags:
      - Screens
      summary: Get screen variants
      description: List all screen variants of the project
      operationId: GetScreenVariants
      parameters:
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScreenVariantGroup'
              examples:
                Screen Variants:
                  value:
                  - $ref: '#/components/examples/screenVariantGroup/value'
        '404':
          $ref: '#/components/responses/projectNotFound'
        '422':
          $ref: '#/components/responses/projectArchived'
  /v1/projects/{project_id}/screen_variants/{variant_id}:
    get:
      tags:
      - Screens
      summary: Get a single screen variant
      description: Get a screen variant by id
      operationId: GetScreenVariant
      parameters:
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/screen_variant_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreenVariantGroup'
              examples:
                response:
                  $ref: '#/components/examples/screenVariantGroup'
        '404':
          $ref: '#/components/responses/projectOrScreenVariantNotFound'
        '422':
          $ref: '#/components/responses/projectArchived'
components:
  examples:
    screenNoteComment:
      summary: Screen Note Comment
      value:
        id: 5dbad85a89ea51c1f35bcffe
        author:
          $ref: '#/components/examples/user/value'
        content: Hey ho! Let's go!
        updated: 1572347818
        reactions:
        - $ref: '#/components/examples/reaction/value'
        screen_version_id: 5dbad85a89ea51c1f35bcfff
    textStyleData:
      summary: Layer Text Style
      value:
        postscript_name: HelveticaNeue-Bold
        font_family: HelveticaNeue
        font_size: 24
        font_weight: 700
        font_style: normal
        line_height: 24
        font_stretch: 1
        text_align: left
        color:
          $ref: '#/components/examples/colorData/value'
    boundingRectangle:
      summary: Bounding Rectangle
      value:
        x: 0
        y: 0
        width: 40
        height: 40
        absolute:
          $ref: '#/components/examples/layerPosition/value'
    resourceStyleguideSource:
      summary: Source Styleguide
      value:
        id: 5db981be9df2b3e1bfa19ef2
        name: Discovery 1
        platform: web
        parent:
          id: 5db981be9df2b3e1bfa19ef2
    grid:
      summary: Grid
      value:
        horizontal_offset: 0
        vertical_offset: 0
        vertical:
          $ref: '#/components/examples/verticalGrid/value'
        horizontal:
          $ref: '#/components/examples/horizontalGrid/value'
    resourceSourceForProject:
      summary: Source for Project
      value:
        project:
          $ref: '#/components/examples/resourceProjectSource/value'
    colorData:
      summary: Color Data
      value:
        source_id: 0BEBFEB3-A107-4D1D-A3B0-77D1FBD35F01
        r: 143
        g: 152
        b: 5
        a: 1
    resourceProjectSource:
      summary: Source Project
      value:
        id: 5db81e73e1e36ee19f138c1a
        name: HAL 9000
        platform: web
        linked_styleguide:
          id: 5db981be9df2b3e1bfa19ef2
    thumbnails:
      summary: Thumbnails
      value:
        small: http://placekitten.com/256/256
        medium: http://placekitten.com/512/512
        large: http://placekitten.com/1024/1024
    screen:
      summary: Screen
      value:
        id: 5dbad85a76ea51c1f35b6f69
        name: Login
        description: Login screen for HAL 9000
        tags:
        - mobile
        - login
        image:
          $ref: '#/components/examples/snapshotImage/value'
        created: 1517184000
        updated: 1572347818
        number_of_notes: 7
        number_of_versions: 4
        number_of_annotations: 2
        section:
          id: 5db81e6e6a4462065f04d932
        variant:
          value: Default
          group:
            id: 607437cd62d37a0bc869fc63
            name: Login
    componentVariantProperty:
      summary: Component Variant Property
      value:
        id: 60422281c96b47c3be1a912f
        name: Type
        value: Primary
    componentSectionReference:
      summary: Component
      value:
        id: 5db81e6e6a4462065f04d932
        group:
          id: 507f1f77bcf86cd799439011
    screenNotePosition:
      value:
        x: 0.93
        y: 0.1
        x_start: 0.9
        y_start: 0.05
    asset:
      summary: Asset
      value:
        layer_source_id: 55CC0025-C3C1-429E-92B2-610D56368473
        display_name: rectangle
        layer_name: Rectangle
        contents:
        - $ref: '#/components/examples/assetContent/value'
    snapshotImage:
      summary: Snapshot Image
      value:
        width: 2560
        height: 1920
        original_url: http://placekitten.com/2560/1920
        thumbnails:
          $ref: '#/components/examples/thumbnails/value'
    horizontalGrid:
      summary: Horizontal Grid
      value:
        number_of_rows: 6
        gutter_height: 12
        row_height: 60
    error:
      summary: Error
      value:
        message: Project is not found
    screenVariantGroup:
      summary: Screen Variant Group
      value:
        id: 607437cd62d37a0bc869fc63
        name: Login
        variants:
        - screen_id: 5dbad85a76ea51c1f35b6f69
          value: Default
        - screen_id: 6074389b7bf31ebf66c8f09d
          value: Loading
        - screen_id: 607438a0351a38c53598671c
          value: Error
    layerFill:
      summary: Layer Fill
      value:
        type: color
        color:
          $ref: '#/components/examples/colorData/value'
    screenNote:
      summary: Screen Note
      value:
        id: 5dbad85a76ea51c1f35b6f69
        created: 1572347818
        order: 1
        status: open
        position:
          $ref: '#/components/examples/screenNotePosition/value'
        color:
          name: yellow
          r: 254
          g: 207
          b: 51
          a: 1
        creator:
          $ref: '#/components/examples/user/value'
        comments:
        - $ref: '#/components/examples/screenNoteComment/value'
    versionCommitColor:
      summary: Version Commit Color
      value:
        r: 145
        g: 223
        b: 33
        a: 1
    assetContent:
      summary: Asset Content
      value:
        url: http://placekitten.com/100/200
        format: png
        density: 1
    me:
      summary: My user
      value:
        id: 5d9caaecb4a3fa9bc9718686
        email: zo@zeplin.io
        username: zozo
        emotar: 🍎
        avatar: http://placekitten.com/200/300
        last_seen: 1616739240
    layer:
      summary: Layer
      value:
        id: 5db81e73e1e36ee19f138c1a
        source_id: 2FF14739-F1CD-4221-A9C1-0EA296C67AD1
        type: shape
        name: First rectangle in group
        rect:
          x: 0
          y: 0
          width: 40
          height: 40
          absolute:
            x: 0
            y: 0
        fills:
        - $ref: '#/components/examples/layerFill/value'
        borders:
        - thickness: 1
          position: inside
          fill:
            $ref: '#/components/examples/layerFill/value'
        opacity: 1
        blend_mode: normal
        border_radius: 0
        rotation: 0
        exportable: false
    versionCommit:
      summary: Version Commit
      value:
        message: Update paddings
        author:
          $ref: '#/components/examples/user/value'
        color:
          $ref: '#/components/examples/versionCommitColor/value'
    screenNoteColor:
      summary: Screen Note Color
      value:
        name: yellow
        r: 254
        g: 207
        b: 51
        a: 1
    layerBlur:
      summary: Layer Blur
      value:
        type: gaussian
        radius: 10
    link:
      summary: Link
      value:
        rect:
          x: 0
          y: 0
          width: 40
          height: 40
        destination:
          $ref: '#/components/examples/linkDestination/value'
    resourceSourceForStyleguide:
      summary: Source for Styleguide
      value:
        styleguide:
          $ref: '#/components/examples/resourceStyleguideSource/value'
    reaction:
      summary: Reaction
      value:
        id: 5dbad85a89ea51c1f35bcffe
        short_code: thumbsup
        unicode: 👍
        users:
        - $ref: '#/components/examples/user/value'
    verticalGrid:
      summary: Vertical Grid
      value:
        column_width: 60
        number_of_cols: 12
        gutters_on_outside: true
        gutter_width: 20
    component:
      summary: Component
      value:
        id: 5dbad85a76ea51c1f35b6f69
        name: Button
        description: Generic button for HAL 9000
        image:
          $ref: '#/components/examples/snapshotImage/value'
        created: 1517184000
        updated: 1572347818
        section:
          $ref: '#/components/examples/componentSectionReference/value'
        source:
          $ref: '#/components/examples/resourceSourceForProject/value'
        variant_properties:
        - $ref: '#/components/examples/componentVariantProperty/value'
    screenVersionSummary:
      summary: Screen Version Summary
      value:
        id: 5dbad85a76ea51c1f35b6f69
        creator:
          $ref: '#/components/examples/user/value'
        commit:
          $ref: '#/components/examples/versionCommit/value'
        image_url: http://placekitten.com/2560/1920
        thumbnails:
          $ref: '#/components/examples/thumbnails/value'
        width: 2560
        height: 1920
        density_scale: 2
        source: sketch/value
        source_file_url: https://www.sketch.com/s/shareId
        background_color:
          $ref: '#/components/examples/colorData/value'
        links:
        - $ref: '#/components/examples/link/value'
    linkDestination:
      summary: Link Destination
      value:
        name: Artboard
        type: screen
    screenSection:
      summary: Screen Section
      value:
        id: 5db81e73e1e36ee19f138c1a
        created: 1517184000
        name: Radar
        parent:
          id: 5db81e73e1e36ee19f138c1b
    layerShadow:
      summary: Layer Shadow
      value:
        type: outer
        offset_x: 0
        offset_y: 2
        blur_radius: 4
        spread: 0
        color:
          $ref: '#/components/examples/colorData/value'
    screenAnnotationPosition:
      summary: Screen Annotation Position
      value:
        x: 0.93
        y: 0.1
    hotspotBoundingRectangle:
      summary: Hotspot Bounding Rectangle
      value:
        x: 0
        y: 0
        width: 40
        height: 40
    gradient:
      summary: Gradient
      value:
        type: linear
        color_stops:
        - position: 0
          color:
            r: 227
            g: 9
            b: 9
            a: 1
        - position: 1
          color:
            r: 65
            g: 65
            b: 65
            a: 1
    screenAnnotation:
      summary: Screen Annotation
      value:
        id: 642dbd0527586e8ea06dc2d7
        content: The button should be red.
        type:
          $ref: '#/components/examples/screenAnnotationNoteType/value'
        position:
          $ref: '#/components/examples/screenAnnotationPosition/value'
        creator:
          $ref: '#/components/examples/user/value'
        updated_by:
          $ref: '#/components/examples/user/value'
        updated: 1680719128
        created: 1680719128
    layerTextStyle:
      summary: Layer
      value:
        range:
          $ref: '#/components/examples/layerTextStyleRange/value'
        style:
          $ref: '#/components/examples/textStyleData/value'
    screenAnnotationColor:
      summary: Screen Annotation Color
      value:
        name: yellow
        r: 254
        g: 207
        b: 51
        a: 1
    user:
      summary: User
      value:
        id: 5d9caaecb4a3fa9bc9718686
        email: 5d9caaecb4a3fa9bc9718686@user.zeplin.io
        username: zozo
        emotar: 🍎
        avatar: http://placekitten.com/200/300
        last_seen: 1616739240
    screenVersion:
      summary: Screen Version
      value:
        id: 5dbad85a76ea51c1f35b6f69
        creator:
          $ref: '#/components/examples/user/value'
        commit:
          $ref: '#/components/examples/versionCommit/value'
        image_url: http://placekitten.com/2560/1920
        thumbnails:
          $ref: '#/components/examples/thumbnails/value'
        width: 2560
        height: 1920
        density_scale: 2
        source: figma/value
        source_file_url: https://www.figma.com/file/fileId/session?node-id=nodeId
        background_color:
          $ref: '#/components/examples/colorData/value'
        links:
        - $ref: '#/components/examples/link/value'
        layers:
        - $ref: '#/components/examples/layer/value'
        assets:
        - $ref: '#/components/examples/asset/value'
    layerPosition:
      summary: Position
      value:
        x: 0
        y: 0
    componentVersion:
      summary: Component Version
      value:
        id: 5dbad85a76ea51c1f35b6f69
        created: 1517184000
        creator:
          $ref: '#/components/examples/user/value'
        image_url: http://placekitten.com/2560/1920
        thumbnails:
          $ref: '#/components/examples/thumbnails/value'
        width: 2560
        height: 1920
        density_scale: 2
        source: figma
        source_file_url: https://www.figma.com/file/fileId/session?node-id=nodeId
        background_color:
          $ref: '#/components/examples/colorData/value'
        links:
        - $ref: '#/components/examples/link/value'
        layers:
        - $ref: '#/components/examples/layer/value'
        assets:
        - $ref: '#/components/examples/asset/value'
    layerBorder:
      summary: Layer Border
      value:
        thickness: 1
        position: inside
        fill:
          $ref: '#/components/examples/layerFill/value'
    entityReference:
      summary: Object Reference
      value:
        id: 5dbad85a76ea51c1f35b6f69
    screenAnnotationNoteType:
      value:
        id: 6436877c182345f62e94ab8e
        name: Requirements
        color:
          $ref: '#/components/examples/screenAnnotationColor/value'
    colorStop:
      summary: Color Stop
      value:
        position: 0
        color:
          $ref: '#/components/examples/colorData/value'
    layerTextStyleRange:
      value:
        location: 0
        length: 14
  schemas:
    Thumbnails:
      title: Thumbnails
      description: Thumbnail image URLs in various sizes. The aspect ratio of the original image is preserved. If the width of original image is lower than the desired width then the original width is used.
      type: object
      required:
      - small
      - medium
      - large
      properties:
        small:
          type: string
          description: URL of the thumbnail image with a width of at most 256 pixels
        medium:
          type: string
          description: URL of the thumbnail image with a width of at most 512 pixels
        large:
          type: string
          description: URL of the thumbnail image with a width of at most 1024 pixels
      example:
        $ref: '#/components/examples/thumbnails'
    ScreenNote:
      title: Screen Note
      type: object
      description: 'Screen notes are comments added to a screen and can be either point notes, which have a single point in the position field, or area notes, which have a position field containing both a start and end point to define a rectangular region.

        '
      required:
      - id
      - order
      - creator
      - status
      - comments
      - position
      - color
      - created
      properties:
        id:
          type: string
          description: The unique id of the note
        creator:
          $ref: '#/components/schemas/User'
        order:
          type: integer
          description: Order of the note in the screen (e.g., 1, 2, 3, so on)
        status:
          $ref: '#/components/schemas/ScreenNoteStatusEnum'
        position:
          $ref: '#/components/schemas/ScreenNotePosition'
        color:
          $ref: '#/components/schemas/ScreenNoteColor'
        comments:
          type: array
          items:
            $ref: '#/components/schemas/ScreenNoteComment'
        created:
          type: integer
          format: timestamp
          description: The unix timestamp when the note was created
      example:
        $ref: '#/components/examples/screenNote'
    BoundingRectangle:
      title: Bounding Rectangle
      type: object
      required:
      - width
      - height
      - x
      - y
      - absolute
      properties:
        width:
          type: integer
        height:
          type: integer
        x:
          type: number
        y:
          type: number
        absolute:
          $ref: '#/components/schemas/LayerPosition'
          description: Absolute position of the bounding rectangle
      example:
        $ref: '#/components/examples/boundingRectangle'
    CommentCreateBody:
      title: Comment Create Body
      type: object
      properties:
        content:
          type: string
          description: Content of the comment
      required:
      - content
    SourceEnum:
      title: Source
      type: string
      description: Source application of the design
      enum:
      - sketch
      - xd
      - figma
      - psd
      - bitmap
    HotspotBoundingRectangle:
      title: Hotspot Bounding Rectangle
      type: object
      required:
      - width
      - height
      - x
      - y
      properties:
        width:
          type: integer
        height:
          type: integer
        x:
          type: number
        y:
          type: number
      example:
        $ref: '#/components/examples/hotspotBoundingRectangle'
    LayerFill:
      title: Layer Fill
      type: object
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - color
          - gradient
          description: Type of the fill
        color:
          $ref: '#/components/schemas/ColorData'
        gradient:
          $ref: '#/components/schemas/Gradient'
        blend_mode:
          $ref: '#/components/schemas/BlendModeEnum'
      example:
        $ref: '#/components/examples/layerFill'
    ScreenCreateBody:
      title: Screen Create Body
      type: object
      properties:
        name:
          type: string
          description: Name of the screen
        image:
          type: string
          format: binary
          description: 'Binary data of the screen image.


            The image has to be in JPEG or PNG format, and its size cannot exceed 5MB.

            '
          x-valid-types:
          - jpeg
          - png
        description:
          type: string
          description: Description for the screen
        commit_message:
          type: string
          description: Commit message for the screen version
        commit_color:
          type: string
          enum:
          - yellow
          - orange
          - peach
          - green
          - turquoise
          description: Commit color for the screen version
        tags:
          type: array
          items:
            type: string
          description: Tags for the screen
        section_id:
          type: string
          description: Unique id of the screen section
      required:
      - name
      - image
    ScreenAnnotation:
      title: Screen Annotation
      type: object
      required:
      - id
      - content
      - type
      - position
      - creator
      - updated
      - created
      properties:
        id:
          type: string
          description: The unique id of the annotation
        content:
          type: string
          description: The text of the annotation
        type:
          $ref: '#/components/schemas/ScreenAnnotationNoteType'
        position:
          $ref: '#/components/schemas/ScreenAnnotationPosition'
        creator:
          $ref: '#/components/schemas/User'
        updated_by:
          $ref: '#/components/schemas/User'
          description: The user who last updated the content of the annotation
        updated:
          type: integer
          format: timestamp
          description: The unix timestamp when the annotation was last updated
        created:
          type: integer
          format: timestamp
          description: The unix timestamp when the annotation was created
      example:
        $ref: '#/components/examples/screenAnnotation'
    VersionCommitColor:
      title: Version Commit Color
      type: object
      required:
      - r
      - g
      - b
      - a
      properties:
        r:
          type: integer
          description: red component of the color
        g:
          type: integer
          description: green component of the color
        b:
          type: integer
          description: blue component of the color
        a:
          type: number
          description: alpha component of the color
      example:
        $ref: '#/components/examples/versionCommitColor'
    LayerPosition:
      title: Layer Position
      type: object
      required:
      - x
      - y
      properties:
        x:
          type: number
        y:
          type: number
      example:
        $ref: '#/components/examples/layerPosition'
    ScreenNoteColorNameEnum:
      title: Screen Note Color Name
      type: string
      enum:
      - yellow
      - orange
      - peach
      - green
      - turquoise
      - cornflower_blue
      - deep_purple
    ScreenVariantGroup:
      title: Screen Variant Group
      type: object
      required:
      - id
      - name
      - variants
      properties:
        id:
          type: string
          description: The unique id of the screen variant
        name:
          type: string
          description: The name of the screen variant
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ScreenVariantGroupValue'
      example:
        $ref: '#/components/examples/screenVariantGroup'
    ResourceStyleguideSource:
      title: Source Styleguide
      type: object
      description: The source styleguide of the resource
      required:
      - id
      - name
      - platform
      properties:
        id:
          type: string
          description: The unique id of the source styleguide
        name:
          type: string
          description: The name of the source styleguide
        platform:
          type: string
          enum:
          - base
          - web
          - ios
          - android
          - macos
          description: The target platform of the source styleguide
        parent:
          $ref: '#/components/schemas/EntityReference'
          description: Reference of the parent styleguide of the source styleguide
      example:
        $ref: '#/components/examples/resourceStyleguideSource'
    ScreenSection:
      title: Screen Section
      type: object
      required:
      - id
      - created
      - name
      properties:
        id:
          type: string
          description: The unique id of the screen section
        created:
          type: integer
          format: timestamp
          description: The unix timestamp when the screen section was created
        name:
          type: string
          description: The name of the screen section
        description:
          type: string
          description: The description of the screen section
        parent:
          $ref: '#/components/schemas/EntityReference'
      example:
        $ref: '#/components/examples/screenSection'
    ScreenAnnotationPosition:
      title: Screen Annotation Position
      description: Position of the annotation with respect to top left corner. Values are normalized in [0, 1]
      type: object
      required:
      - x
      - y
      properties:
        x:
          type: number
        y:
          type: number
      example:
        $ref: '#/components/examples/screenAnnotationPosition'
    Component:
      title: Component
      type: object
      required:
      - id
      - name
      - image
      - created
      properties:
        id:
          type: string
          description: The unique id of the component
        name:
          type: string
          description: The name of the component
        description:
          type: string
          description: The description of the component
        image:
          $ref: '#/components/schemas/SnapshotImage'
        created:
          type: integer
          format: timestamp
          description: The unix timestamp when the component was created
        updated:
          type: integer
          format: timestamp
          description: The unix timestamp when the component was updated
        section:
          $ref: '#/components/schemas/ComponentSectionReference'
        variant_properties:
          type: array
          items:
            $ref: '#/components/schemas/ComponentVariantProperty'
          description: Variant properties of the component
        source:
          $ref: '#/components/schemas/ResourceSource'
          description: Source of the text style. Either `project` or `styleguide`.
        latest_version:
          $ref: '#/components/schemas/ComponentVersion'
          description: Design data in the latest version of the component. This exists if the related endpoint parameter (`include_latest_version=true`) is provided in component endpoints.
      example:
        $ref: '#/components/examples/component'
    VerticalGrid:
      title: Vertical Grid
      type: object
      required:
      - gutter_width
      - column_width
      - number_of_cols
      - gutters_on_outside
      properties:
        gutter_width:
          type: number
        column_width:
          type: number
        number_of_cols:
          type: number
        gutters_on_outside:
          type: boolean
      example:
        $ref: '#/components/examples/verticalGrid'
    LayerTextStyleRange:
      title: Layer Text Style Range
      type: object
      properties:
        location:
          type: number
          description: Start of the range
        length:
          type: number
          description: Length of the range
      example:
        $ref: '#/components/examples/layerTextStyle'
    ScreenNoteComment:
      title: Screen Note Comment
      type: object
      required:
      - id
      - content
      - author
      - updated
      - reactions
      properties:
        id:
          type: string
          description: Unique id of the comment
        content:
          type: string
          description: Content of the comment
        author:
          $ref: '#/components/schemas/User'
        updated:
          type: integer
          format: timestamp
          description: The unix timestamp when the comment was updated
        reactions:
          type: array
          description: Reactions to the comment
          items:
            $ref: '#/components/schemas/Reaction'
        screen_version_id:
          type: string
          description: The version of the screen this comment is associated with
      example:
        $ref: '#/components/examples/screenNoteComment'
    ScreenVariantGroupReference:
      title: Screen Variant Group Reference
      type: object
      description: Variant group that contains the screen
      required:
      - id
      - name
      properties:
        id:
          type: string
          description: Unique id of the screen variant
        name:
          type: string
          description: Name of the screen variant
    Asset:
      title: Asset
      type: object
      description: 'Assets are automatically generated while exporting designs based on the platform the design is exported. Asset formats and densities change according to these platforms.


        Platform | Formats

        ---|---|---

        Base | PNG (1.0, 1.5, 2.0, 3.0, 4.0), and PDF

        Web | PNG (1.0, 2.0, 3.0), SVG, and JPG (bitmap image)

        iOS | PNG (1.0, 2.0, 3.0), and PDF

        Android | PNG (1.0, 1.5, 2.0, 3.0, 4.0), and SVG

        '
      required:
      - display_name
      - contents
      properties:
        layer_source_id:
          type: string
          description: Layer's identifier in the design tool
        display_name:
          type: string
          description: Display name of the asset
        layer_name:
          type: string
          description: Name of the layer containing the asset
        contents:
          type: array
          items:
            $ref: '#/components/schemas/AssetContent'
      example:
        $ref: '#/components/examples/asset'
    Gradient:
      title: Gradient
      type: object
      properties:
        type:
          type: string
          enum:
          - linear
          - radial
          - angular
          description: Type of the gradient
        angle:
          type: number
          description: Angle of the gradient
        scale:
          type: number
          description: Scale of the gradient
        color_stops:
          type: array
          items:
            $ref: '#/components/schemas/ColorStop'
        opacity:
          type: number
          description: Opacity of the gradient
      example:
        $ref: '#/components/examples/gradient'
    ScreenNoteUpdateBody:
      title: Screen Note Update Body
      type: object
      properties:
        status:
          title: status
          $ref: '#/components/schemas/ScreenNoteStatusEnum'
        position:
          title: position
          $ref: '#/components/schemas/ScreenNotePosition'
        color:
          title: color
          $ref: '#/components/schemas/ScreenNoteColorNameEnum'
    HorizontalGrid:
      title: Horizontal Grid
      type: object
      required:
      - gutter_height
      - row_height
      properties:
        gutter_height:
          type: number
        row_height:
          type: number
        number_of_rows:
          type: number
      example:
        $ref: '#/components/examples/horizontalGrid'
    EntityReference:
      title: Object Reference
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: Id of the entity
      example:
        $ref: '#/components/examples/entityReference'
    ColorData:
      title: Color Data
      type: object
      required:
      - r
      - g
      - b
      - a
      properties:
        source_id:
          type: string
          description: Color's identifier in the design tool
        r:
          type: integer
          description: Red component of the color
        g:
          type: integer
          description: Green component of the color
        b:
          type: integer
          description: Blue component of the color
        a:
          type: number
          description: Alpha component of the color
      example:
        $ref: '#/components/examples/colorData'
    ErrorResponse:
      title: Error Response
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: A user readable descriptive message for the error
        detail:
          type: string
          description: A detailed message describing the error
        code:
          type: string
          description: The unique code for the error
      example:
        $ref: '#/components/examples/error'
    ScreenNoteCreateBody:
      title: Screen Note Create Body
      type: object
      properties:
        content:
          type: string
          description: Content of the first comment of the note
        position:
          title: position
          $ref: '#/components/schemas/ScreenNotePosition'
        color:
          $ref: '#/components/schemas/ScreenNoteColorNameEnum'
      required:
      - content
      - position
      - color
    LinkDestination:
      title: Link Destination
      type: object
      required:
      - name
      - type
      properties:
        name:
          type: string
        type:
          type: string
          enum:
          - component
          - previous
          description: Type of the link (`component` or `previous`)
      example:
        $ref: '#/components/examples/linkDestination'
    ColorStop:
      title: Color Stop
      type: object
      required:
      - color
      - position
      properties:
        color:
          $ref: '#/components/schemas/ColorData'
        position:
          type: number
      example:
        $ref: '#/components/examples/colorStop'
    ScreenNoteColor:
      title: Screen Note Color
      type: object
      required:
      - r
      - g
      - b
      - a
      properties:
        name:
          $ref: '#/components/schemas/ScreenNoteColorNameEnum'
          description: Name of the color
        r:
          type: integer
          description: Red component of the color
        g:
          type: integer
          description: Green component of the color
        b:
          type: integer
          description: Blue component of the color
        a:
          type: number
          description: Alpha component of the color
      example:
        $ref: '#/components/examples/screenNoteColor'
    ScreenVariantGroupValue:
      title: Screen Variant Group Value
      type: object
      required:
      - screen_id
      - value
      properties:
        screen_id:
          type: string
          description: Unique id of the variant screen
        value:
          type: string
          description: Value for the variant
    ScreenAnnotationCreateBody:
      title: Screen Annotation Create Body
      type: object
      properties:
        content:
          type: string
          description: Content of the annotation
        position:
          $ref: '#/components/schemas/ScreenAnnotationPosition'
        type:
          type: string
          description: The unique id of the annotation type
      required:
      - content
      - position
    User:
      title: User
      description: 'Basic info about Zeplin users.


        Zeplin API does not expose any personal information to third-party clients. For this reason, the `email` field is a Zeplin-only alias by default.


        You can get the original email addresses of members of your workspace by using a personal access token created with admin rights. Third-party (OAuth) applications are not allowed to access this information.


        ☝️*Only organization admins (or higher) can retrieve the original email addresses using an admin token.*

        '
      type: object
      required:
      - id
      - email
      - username
      properties:
        id:
          type: string
          description: User's unique id
        email:
          type: string
          description: Zeplin-only alias for the user's email (original)
        username:
          type: string
          description: Username of the user
        emotar:
          type: string
          format: emoji
          description: Emotar of the user
        avatar:
          type: string
          description: Avatar of the user
        last_seen:
          type: number
          description: The unix timestamp when the user was last seen
      example:
        $ref: '#/components/examples/user'
      x-examples:
        User:
          $ref: '#/components/examples/user'
        My User:
          $ref: '#/components/examples/me'
    ScreenNoteStatusEnum:
      title: Screen Note Status
      type: string
      enum:
      - open
      - resolved
      description: Status of the note
    Link:
      title: Link
      type: object
      required:
      - rect
      - destination
      properties:
        rect:
          $ref: '#/components/schemas/HotspotBoundingRectangle'
          description: Bounding rectangle of the link's hotspot
        destination:
          $ref: '#/components/schemas/LinkDestination'
      example:
        $ref: '#/components/examples/link'
    CommentUpdateBody:
      title: Comment Update Body
      type: object
      properties:
        content:
          type: string
          description: Content of the comment
      required:
      - content
    Grid:
      title: Grid
      type: object
      properties:
        horizontal_offset:
          type: number
        vertical_offset:
          type: number
        vertical:
          $ref: '#/components/schemas/VerticalGrid'
        horizontal:
          $ref: '#/components/schemas/HorizontalGrid'
      example:
        $ref: '#/components/examples/grid'
    ScreenVariant:
      title: Screen Variant
      type: object
      required:
      - value
      - group
      properties:
        value:
          type: string
          description: Value for this variant of the screen
        group:
          $ref: '#/components/schemas/ScreenVariantGroupReference'
    ScreenNotePosition:
      title: Screen Note Position
      description: Position of the note with respect to top left corner. Values are normalized in [0, 1]
      type: object
      required:
      - x
      - y
      properties:
        x:
          type: number
          description: The X-coordinate of the note's position. For area notes, this represents the X-coordinate of the end point.
        y:
          type: number
          description: The Y-coordinate of the note's position. For area notes, this represents the Y-coordinate of the end point.
        x_start:
          type: number
          description: The X-coordinate of the start point for area notes. Ignored for point notes.
        y_start:
          type: number
          description: The Y-coordinate of the start point for area notes. Ignored for point notes.
      example:
        $ref: '#/components/examples/screenNotePosition'
    ScreenVersion:
      title: Screen Version
      type: object
      required:
      - id
      - created
      - source
      - width
      - height
      - density_scale
      - links
      - layers
      - assets
      properties:
        id:
          type: string
          description: The unique id of the version
        creator:
          $ref: '#/components/schemas/User'
        commit:
          $ref: '#/components/schemas/VersionCommit'
        image_url:
          type: string
          format: url
          description: URL of the image for the version
        thumbnails:
          $ref: '#/components/schemas/Thumbnails'
        source:
          allOf:
          - $ref: '#/components/schemas/SourceEnum'
          - description: Source application of the version
        source_file_url:
          type: string
          format: url
          description: Source file url of the version
        width:
          type: integer
          description: Width of the version
        height:
          type: integer
          description: Height of the version
        background_color:
          $ref: '#/components/schemas/ColorData'
        density_scale:
          type: number
          description: Pixel density
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        grid:
          $ref: '#/components/schemas/Grid'
        layers:
          type: array
          items:
            $ref: '#/components/schemas/Layer'
          description: Layers of the screen version
        assets:
          type: array
          description: Assets of the screen version
          items:
            $ref: '#/components/schemas/Asset'
        created:
          type: integer
          format: timestamp
          description: The unix timestamp when the screen version was created
      example:
        $ref: '#/components/examples/screenVersion'
    AssetContent:
      title: Asset Content
      type: object
      required:
      - url
      - format
      properties:
        url:
          type: string
          description: URL of the asset content
        format:
          type: string
          description: Format of the asset content
          enum:
          - png
          - jpg
          - svg
          - pdf
        density:
          type: number
          description: Density of the asset content
          enum:
          - 1
          - 1.5
          - 2
          - 3
          - 4
      example:
        $ref: '#/components/examples/assetContent'
    ComponentSectionReference:
      title: Component Section Reference
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: Unique id of the section that contains the component
        group:
          allOf:
          - $ref: '#/components/schemas/EntityReference'
          - description: Unique id of the group that contains the component
      example:
        $ref: '#/components/examples/componentSectionReference'
    ScreenAnnotationNoteTypeEnum:
      title: Note Types
      type: string
      enum:
      - Behavior
      - Requirement
      - Animation
      - Accessibility
      - API
      - Tracking
      description: Type of the annotation note
    BlendModeEnum:
      title: Blend Mode
      type: string
      enum:
      - normal
      - darken
      - multiply
      - color-burn
      - lighten
      - screen
      - color-dodge
      - overlay
      - soft-light
      - hard-light
      - difference
      - exclusion
      - hue
      - saturation
      - color
      - luminosity
      - source-in
      - source-out
      - source-atop
      - destination-over
      - destination-in
      - destination-out
      - destination-atop
      - dissolve
      - linear-burn
      - linear-dodge
      - darker-color
      - lighter-color
      - vivid-light
      - linear-light
      - pin-light
      - hard-mix
      - subtract
      - divide
    LayerBlur:
      title: Layer Blur
      type: object
      description: Blur applied to the layer
      properties:
        type:
          type: string
          enum:
          - gaussian
          - background
          description: Type of the blur
        radius:
          type: number
          description: Radius of the blur
      example:
        $ref: '#/components/examples/layerBlur'
    SnapshotImage:
      title: Snapshot Image
      type: object
      required:
      - width
      - height
      - original_url
      - thumbnails
      properties:
        width:
          type: number
          description: Width of the component image
        height:
          type: number
          description: Height of the component image
        thumbnails:
          $ref: '#/components/schemas/Thumbnails'
        original_url:
          type: string
          description: URL of the original image for the component (from the latest version)
      example:
        $ref: '#/components/examples/snapshotImage'
    ResourceSource:
      title: Resource Source
      type: object
      description: Source details for resource. It has to be either `project` or `styleguide`.
      properties:
        project:
          $ref: '#/components/schemas/ResourceProjectSource'
        styleguide:
          $ref: '#/components/schemas/ResourceStyleguideSource'
      example:
        $ref: '#/components/examples/resourceSourceForProject'
      x-examples:
        Project:
          $ref: '#/components/examples/resourceSourceForProject'
        Styleguide:
          $ref: '#/components/examples/resourceSourceForStyleguide'
    ScreenUpdateBody:
      title: Screen Update Body
      type: object
      properties:
        description:
          type: string
          description: New description for screen
        tags:
          type: array
          uniqueItems: true
          items:
            type: string
          description: New tags for the screen
    ComponentVersion:
      title: Component Version
      type: object
      required:
      - id
      - source
      - width
      - height
      - density_scale
      - links
      - layers
      - assets
      - created
      properties:
        id:
          type: string
          description: The unique id of the version
        creator:
          $ref: '#/components/schemas/User'
        image_url:
          type: string
          format: url
          description: URL of the image for the version
        thumbnails:
          $ref: '#/components/schemas/Thumbnails'
        source:
          allOf:
          - $ref: '#/components/schemas/SourceEnum'
          - description: Source application of the version
        source_file_url:
          type: string
          format: url
          description: Source file url of the version
        width:
          type: integer
          description: Width of the version
        height:
          type: integer
          description: Height of the version
        background_color:
          $ref: '#/components/schemas/ColorData'
        density_scale:
          type: number
          description: Pixel density
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        grid:
          $ref: '#/components/schemas/Grid'
        layers:
          type: array
          items:
            $ref: '#/components/schemas/Layer'
          description: Layers of the component version
        assets:
          type: array
          description: Assets of the component version
          items:
            $ref: '#/components/schemas/Asset'
        created:
          type: integer
          format: timestamp
          description: The unix timestamp when the component version was created
      example:
        $ref: '#/components/examples/componentVersion'
    ScreenAnnotationColor:
      title: Screen Annotation Color
      type: object
      required:
      - r
      - g
      - b
      - a
      properties:
        name:
          type: string
          description: Name of the color
        r:
          type: integer
          description: Red component of the color
        g:
          type: integer
          description: Green component of the color
        b:
          type: integer
          description: Blue component of the color
        a:
          type: number
          description: Alpha component of the color
      example:
        $ref: '#/components/examples/screenAnnotationColor'
    ResourceProjectSource:
      title: Source Project
      type: object
      description: The source project of the resource
      required:
      - id
      - name
      - platform
      properties:
        id:
          type: string
          description: The unique id of the source project
        name:
          type: string
          description: The name of the source project
        platform:
          type: string
          enum:
          - web
          - ios
          - android
          - macos
          description: The target platform of the source project
        linked_styleguide:
          $ref: '#/components/schemas/EntityReference'
          description: Reference of the styleguide which the source project is linked to
      example:
        $ref: '#/components/examples/resourceProjectSource'
    ScreenVersionSummary:
      title: Screen Version Summary
      type: object
      required:
      - id
      - created
      - source
      - width
      - height
      - density_scale
      - links
      - image_url
      - thumbnails
      properties:
        id:
          type: string
          description: The unique id of the version
        creator:
          $ref: '#/components/schemas/User'
        commit:
          $ref: '#/components/schemas/VersionCommit'
        image_url:
          type: string
          format: url
          description: URL of the image for the version
        thumbnails:
          $ref: '#/components/schemas/Thumbnails'
        source:
          allOf:
          - $ref: '#/components/schemas/SourceEnum'
          - description: Source application of the version
        source_file_url:
          type: string
          format: url
          description: Source file url of the version
        width:
          type: integer
          description: Width of the version
        height:
          type: integer
          description: Height of the version
        background_color:
          $ref: '#/components/schemas/ColorData'
        density_scale:
          type: number
          description: Pixel density
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        created:
          type: integer
          format: timestamp
          description: The unix timestamp when the screen version was created
      example:
        $ref: '#/components/examples/screenVersionSummary'
    LayerTextStyle:
      title: Layer Text Style
      type: object
      properties:
        range:
          $ref: '#/components/schemas/LayerTextStyleRange'
        style:
          $ref: '#/components/schemas/TextStyleData'
      example:
        $ref: '#/components/examples/layerTextStyle'
    Reaction:
      title: Reaction
      type: object
      required:
      - id
      - short_code
      - users
      properties:
        id:
          type: string
          description: Unique id of the reaction
        short_code:
          type: string
          description: Type of the reaction (e.g., thumbsup, eyes, etc.)
        unicode:
          type: string
          description: Unicode representation of the reaction
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
      example:
        $ref: '#/components/examples/reaction'
    ComponentVariantProperty:
      title: Component Variant Property
      type: object
      required:
      - id
      - name
      - value
      properties:
        id:
          type: string
          description: Unique id of the variant property
        name:
          type: string
          description: Name of the variant property (e.g. `“type”`, `“state”`, etc.)
        value:
          type: string
          description: Value for this property of the component (e.g. `"primary"`)
      example:
        $ref: '#/components/examples/componentVariantProperty'
    Screen:
      title: Screen
      type: object
      required:
      - id
      - tags
      - name
      - image
      - created
      - number_of_versions
      - number_of_notes
      - number_of_annotations
      properties:
        id:
          type: string
          description: The unique id of the screen
        name:
          type: string
          description: The name of the screen
        description:
          type: string
          description: The description of the screen
        tags:
          type: array
          items:
            type: string
          description: The tags platform of the screen
        image:
          $ref: '#/components/schemas/SnapshotImage'
        created:
          type: integer
          format: timestamp
          description: The unix timestamp when the screen was created
        updated:
          type: integer
          format: timestamp
          description: The unix timestamp when the screen was updated
        number_of_versions:
          type: integer
          description: The number of versions exported to the screen
        number_of_notes:
          type: integer
          description: The number of notes in the screen
        number_of_annotations:
          type: integer
          description: The number of annotations in the screen
        section:
          $ref: '#/components/schemas/EntityReference'
          description: Reference of the section that contains the screen
        variant:
          $ref: '#/components/schemas/ScreenVariant'
      example:
        $ref: '#/components/examples/screen'
    TextStyleData:
      title: Text Style Data
      type: object
      required:
      - postscript_name
      - font_family
      - font_size
      - font_weight
      - font_style
      - font_stretch
      properties:
        postscript_name:
          type: string
          description: PostScript name of the text style, e.g. Roboto-Regular
        font_family:
          type: string
          description: Font family of the text style, e.g. Roboto, Arial
        font_size:
          type: number
          description: Font size of the text style
        font_weight:
          type: number
          description: Font weight of the text style, e.g. 500, 700
        font_style:
          type: string
          description: Font style of the text style, e.g. italic, oblique
        font_stretch:
          type: number
          description: Font stretch form of the text style, e.g. 0.75, 1.00
        line_height:
          type: number
          description: Minimum height of a line for the text style
        letter_spacing:
          type: number
          description: Spacing between letters
        text_align:
          type: string
          description: Horizontal alignment of the text style, left, right, center, or justify
        color:
          $ref: '#/components/schemas/ColorData'
      example:
        $ref: '#/components/examples/textStyleData'
    LayerBorder:
      title: Layer Border
      type: object
      properties:
        position:
          type: string
          enum:
          - center
          - inside
          - outside
          description: Position of the border
        thickness:
          type: number
          description: Thickness of the border
        fill:
          $ref: '#/components/schemas/LayerFill'
      example:
        $ref: '#/components/examples/layerBorder'
    Layer:
      title: Layer
      type: object
      required:
      - id
      - type
      - rect
      - opacity
      properties:
        id:
          type: string
          description: Layer's unique id
        source_id:
          type: string
          description: Layer's identifier in the design tool
        type:
          type: string
          enum:
          - text
          - shape
          - group
          description: Type of the layer
        name:
          type: string
          description: Name of the layer
        rect:
          $ref: '#/components/schemas/BoundingRectangle'
          description: Bounding rectangle of the layer
        fills:
          type: array
          description: Fills applied to the layer
          items:
            $ref: '#/components/schemas/LayerFill'
        borders:
          type: array
          description: Borders of the layer
          items:
            $ref: '#/components/schemas/LayerBorder'
        shadows:
          type: array
          description: Shadows applied to the layer
          items:
            $ref: '#/components/schemas/LayerShadow'
        blur:
          $ref: '#/components/schemas/LayerBlur'
        opacity:
          type: number
          description: Opacity of the layer, [0, 1]
        blend_mode:
          $ref: '#/components/schemas/BlendModeEnum'
        border_radius:
          type: number
          description: Border radius of the layer
        rotation:
          type: number
          description: Rotation of the layer
        exportable:
          type: boolean
          description: Indicates whether the layer has assets or not
        content:
          type: string
          description: Text of the text layer
        text_styles:
          type: array
          items:
            $ref: '#/components/schemas/LayerTextStyle'
        layers:
          type: array
          items:
            $ref: '#/components/schemas/Layer'
        component_name:
          type: string
          description: Name of the component the group layer is referencing
      example:
        $ref: '#/components/examples/layer'
    ScreenAnnotationUpdateBody:
      title: Screen Annotation Update Body
      type: object
      properties:
        content:
          type: string
          description: Content of the annotation
        position:
          $ref: '#/components/schemas/ScreenAnnotationPosition'
        type:
          type: string
          description: The unique id of the annotation type
    VersionCommit:
      title: Version Commit
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: Commit message for the version
        author:
          $ref: '#/components/schemas/User'
        color:
          $ref: '#/components/schemas/VersionCommitColor'
      example:
        $ref: '#/components/examples/versionCommit'
    ScreenVersionCreateBody:
      title: Screen Version Create Body
      type: object
      properties:
        image:
          type: string
          format: binary
          description: 'Binary data of the screen image.


            The image has to be in JPEG or PNG format, and its size cannot exceed 5MB.

            '
          x-valid-types:
          - jpeg
          - png
        commit_message:
          type: string
          description: Commit message for the screen version
        commit_color:
          type: string
          enum:
          - yellow
          - orange
          - peach
          - green
          - turquoise
          description: Commit color for the screen version
      required:
      - image
    ScreenAnnotationNoteType:
      title: Screen Annotation Note Type
      type: object
      required:
      - id
      - name
      - color
      properties:
        id:
          type: string
          description: The unique id of the annotation
        name:
          $ref: '#/components/schemas/ScreenAnnotationNoteTypeEnum'
          description: Name of the note type
        color:
          $ref: '#/components/schemas/ScreenAnnotationColor'
          description: Color of the note type
    LayerShadow:
      title: Layer Shadow
      type: object
      properties:
        type:
          type: string
          enum:
          - outer
          - inner
          description: Type of the shadow
        offset_x:
          type: number
          description: Horizontal offset of the shadow
        offset_y:
          type: number
          description: Vertical offset of the shadow
        blur_radius:
          type: number
          description: Blur radius of the shadow
        spread:
          type: number
          description: Spread of the shadow
        color:
          $ref: '#/components/schemas/ColorData'
      example:
        $ref: '#/components/examples/layerShadow'
  responses:
    notCommentAuthorOrProjectArchived:
      description: Not the author of the comment or project archived
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Not the author of the comment:
              value:
                message: User is not the author of the comment
            Project is archived:
              value:
                message: Project is archived
    projectScreenOrAnnotationNotFound:
      description: Project, screen or annotation not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Project not found:
              value:
                message: Project not found
            Screen not found:
              value:
                message: Screen not found
            Annotation not found:
              value:
                message: Annotation not found
    cannotCreateAScreen:
      description: User cannot create a screen
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            User cannot create a screen:
              value:
                message: Only editors (or higher) can create a screen in a project
    projectScreenNoteOrCommentNotFound:
      description: Project, screen, note or comment not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Project not found:
              value:
                message: Project not found
            Screen not found:
              value:
                message: Screen not found
            Note not found:
              value:
                message: Note not found
            Comment not found:
              value:
                message: Comment not found
    projectOrScreenSectionNotFound:
      description: Project or screen section not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Project not found:
              value:
                message: Project not found
            Screen section not found:
              value:
                message: Screen section not found
    cannotCreateAScreenVersion:
      description: User cannot create a screen version
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            User cannot create a screen version:
              value:
                message: Only editors (or higher) can create a screen version in a project
    unproccessableEntityUpdateComment:
      description: Not a project member, project archived or comment author is not the same errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Not a project member:
              value:
                message: User is not a member of the project
            Project archived:
              value:
                message: Project is archived
            Comment author is not the same:
              value:
                message: User is not the author of the comment
    projectNotFound:
      description: Project not found response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Project not found response:
              value:
                message: Project not found
    notNoteCreatorOrProjectArchived:
      description: Not the creator of the note or project archived
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Not the creator of the note:
              value:
                message: User is not the creator of the note
            Project is archived:
              value:
                message: Project is archived
    notAProjectMemberOrArchivedOrScreenExists:
      description: Not a project member or project archived or screen with name already exists
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Not a member:
              value:
                message: User is not a member of the project
            Project is archived:
              value:
                message: Project is archived
            Screen with name already exists:
              value:
                message: Screen with name "My Screen" already exists in the project. You can create a new version for this screen instead.
    projectScreenOrNoteNotFound:
      description: Project, screen or note not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Project not found:
              value:
                message: Project not found
            Screen not found:
              value:
                message: Screen not found
            Note not found:
              value:
                message: Note not found
    cannotGetVersionInProject:
      description: Cannot get version in project
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Cannot get version in project:
              value:
                message: User with role alien in a project cannot get version
    cannotUpdateScreen:
      description: User cannot update the screen
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            User cannot update the screen:
              value:
                message: User with role alien in a project cannot update the screen
    notAProjectMemberOrArchived:
      description: Not a project member or project archived
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Not a member:
              value:
                message: User is not a member of the project
            Project is archived:
              value:
                message: Project is archived
    projectScreenOrVersionNotFound:
      description: Project, screen or version not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Project not found:
              value:
                message: Project not found
            Screen not found:
              value:
                message: Screen not found
            Version not found:
              value:
                message: Version not found
    notAnnotationCreatorOrProjectArchived:
      description: Not the creator of the annotation or project archived
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Not the creator of the annotation:
              value:
                message: User is not the creator of the annotation
            Project is archived:
              value:
                message: Project is archived
    noContent:
      description: Successful response
    notAProjectMemberOrArchivedOrTagIsLocked:
      description: Not a project member or project archived or tag is locked
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Not a member:
              value:
                message: User is not a member of the project
            Project is archived:
              value:
                message: Project is archived
            Tag is locked:
              value:
                message: Tag is locked
    projectArchived:
      description: Project archived response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Project archived response:
              value:
                message: Project is archived
    projectOrScreenVariantNotFound:
      description: Project or screen variant not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Project not found:
              value:
                message: Project not found
            Screen variant not found:
              value:
                message: Screen variant not found
    projectOrScreenNotFound:
      description: Project or screen not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Project not found:
              value:
                message: Project not found
            Screen not found:
              value:
                message: Screen not found
  parameters:
    screen_note_id:
      name: note_id
      in: path
      description: Screen note id
      required: true
      schema:
        type: string
        pattern: /^[0-9a-f]{24}$/i
    limit:
      name: limit
      in: query
      description: Pagination limit
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 30
    project_id:
      name: project_id
      in: path
      description: Project id
      required: true
      schema:
        type: string
        pattern: /^[0-9a-f]{24}$/i
    filter_by_section_id:
      name: section_id
      in: query
      description: Filter by section id
      required: false
      schema:
        type: string
        pattern: /^[0-9a-f]{24}$/i
    offset:
      name: offset
      in: query
      description: Pagination offset
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0
    screen_section_id:
      name: section_id
      in: path
      description: Screen section id
      required: true
      schema:
        type: string
        pattern: /^[0-9a-f]{24}$/i
    screen_annotation_id:
      name: annotation_id
      in: path
      description: Screen annotation id
      required: true
      schema:
        type: string
        pattern: /^[0-9a-f]{24}$/i
    screen_version_id:
      name: version_id
      in: path
      description: Screen version id
      required: true
      schema:
        type: string
        pattern: /^[0-9a-f]{24}$/i
    include_latest_version:
      name: include_latest_version
      in: query
      description: Whether to include the latest version data in the Component object
      required: false
      schema:
        type: boolean
        default: false
    screen_id:
      name: screen_id
      in: path
      description: Screen id
      required: true
      schema:
        type: string
        pattern: /^[0-9a-f]{24}$/i
    screen_comment_id:
      name: comment_id
      in: path
      description: Screen comment id
      required: true
      schema:
        type: string
        pattern: /^[0-9a-f]{24}$/i
    include_linked_styleguides:
      name: include_linked_styleguides
      in: query
      description: Whether to include linked styleguides or not
      required: false
      schema:
        type: boolean
        default: false
    sort_screens:
      name: sort
      in: query
      description: Sort screens by their `section` or their `created` date
      required: false
      schema:
        type: string
        default: created
        enum:
        - section
        - created
    screen_variant_id:
      name: variant_id
      in: path
      description: Screen variant id
      required: true
      schema:
        type: string
        pattern: /^[0-9a-f]{24}$/i
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /v1/oauth/authorize
          tokenUrl: /v1/oauth/token
          refreshUrl: /v1/oauth/token
          scopes: {}
    PersonalAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
